<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Categoría</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h1>Registrar Categoría</h1>
        <form action="{% url 'productos:registrar_categoria' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
        
    </div>
    <a href="{% url 'jefeventa:menu_jefe' %}">volver menu jefe venta</a>
</body>
</html>
